<section>
  <div class="form-map">
    {{ section.settings.map }}
  </div>
</section>

{% schema %}

  {
    "name": "Map",
    "settings": [
      {
      "type": "html",
      "id": "map",
      "label": "Map Embed" 
      }
    ]
  }

{% endschema %}