<div class="contact container wrapper">
  <div class="bkgrd-left"></div>
  <div class="bkgrd-right"></div>
  <div class="title">
    <h1>Get In Touch</h1>
  </div>
</div>

<div class="contact-section wrapper">
  
  {% form 'contact' %}
    {% if form.posted_successfully? %} Thank you for your contact {% endif %}
    {{ form.errors | default_errors }}
    <label for="ContactFormName">Name:</label>
    <input type="text" id="ContactFormName" name="contact[name]" required>
    <label for="ContactFormEmail">Email:</label>
    <input type="email" id="ContactFormEmail" name="contact[email]" required>
    <label for="ContactFormPhone">Phone:</label>
    <input type="tel" id="ContactFormPhone" name="contact[phone]" required>
    <label for="ContactFormMessage" class="text-label">Message:</label>
    <textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
    <input type="submit" value="Submit" class="btn">
  {% endform %}

  {% section 'mapfile' %}

</div>